* {
    /* outline: 1px solid pink; */
}
#wrapper {
    background-color: beige;
}

#top {
    display: block;
    height: 10%;
    /* background-color: red; */
}

#top h3 {
    display: inline-block;
}

#top p {
    border: 2px solid black;
    display: inline-block;
    width: 150px;
    height: 25px;
    text-align: center;
    font-weight: 900;
    padding: 5px;
}

#menu {
    display: block;
    height: 30%;
    /* background-color: blue; */
}

#menu .option {
    display: inline-block;
    width: 20%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: 24px;
    border: 3px solid black;
}

#menu .option .submit {
    width: 100px;
    height: 30px;
    background-color: gold;
}

#activity {
    display: block;
    height: 25%;
    /* background-color: green; */
}

#activity p {
    display: block;
    outline: 3px solid black;
    height: 150px;
    width: 100%;
}