<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User Register</title>
    {% load static%}
    <!-- BOOTSTRAP -->
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- LOCAL CSS -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard_app/css/log_reg.css' %}"
    />
    <link rel="stylesheet" href="{% static 'dashboard_app/css/topBar.css' %}" />

    <!-- CSS RESET -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard_app/css/normalize.css' %}"
    />
    <script>
      $(document).ready(function() {
        $("input").focus(function() {
          $(this)
            .parent()
            .find(".label-txt")
            .addClass("label-active");
        });

        $("input").focusout(function() {
          if ($(this).val() == "") {
            $(this)
              .parent()
              .find(".label-txt")
              .removeClass("label-active");
          }
        });
      });
    </script>
  </head>

  <body>
    <div class="container" style="padding-top:30px">
      <div class="top_bar">
        <button
          type="submit"
          onclick="window.location.href='/home/dashboard'"
          class="goback"
        >
          <<
        </button>
        <h1>DashyBoard</h1>
        <h3>Welcome, {{ pk.first_name }}</h3>
        <form action="/home/logoff" method="POST" class="topform">
          {% csrf_token %} <button>Logout</button>
        </form>
      </div>
    </div>

    <div id="survey">
      <form action="/home/validate_add_new" method="POST">
        <h2>Add a new user</h2>
        {% csrf_token %}
        <label>
          <p class="label-txt">First Name</p>
          <input type="text" class="input" name="first_name" />
          <div class="line-box"><div class="line"></div></div>
        </label>
        <label>
          <p class="label-txt">Last Name</p>
          <input type="text" class="input" name="last_name" />
          <div class="line-box"><div class="line"></div></div>
        </label>
        <label>
          <p class="label-txt">Email</p>
          <input type="email" class="input" name="email" />
          <div class="line-box"><div class="line"></div></div>
        </label>
        <label>
          <p class="label-txt">Password</p>
          <input type="password" class="input" name="password" />
          <div class="line-box"><div class="line"></div></div>
        </label>
        <label>
          <p class="label-txt">Confirm Password</p>
          <input type="password" class="input" name="confirm_password" />
          <div class="line-box"><div class="line"></div></div>
        </label>
        <button type="submit" class="create">Add</button> {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </form>
    </div>
  </body>
</html>
