<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User Home</title>
    {% load static%}
    <!-- BOOTSTRAP -->
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="{% static 'dashboard_app/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard_app/css/topBar.css' %}" />

    <!-- CSS RESET -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard_app/css/normalize.css' %}"
    />
    <script>
      $(document).ready(function() {
        $("input").focus(function() {
          $(this)
            .parent()
            .find(".lasbel-txt")
            .addClass("label-active");
        });

        $("input").focusout(function() {
          if ($(this).val() == "") {
            $(this)
              .parent()
              .find(".label-txt")
              .removeClass("label-active");
          }
        });
      });
    </script>
  </head>

  <body>
    <div class="container" style="padding-top:30px">
      <div class="top_bar">
        <h1>DashyBoard</h1>
        <h3>You are not signed in</h3>
        <form action="/home/login" method="POST" class="topform">
          {% csrf_token %} <button>Login</button>
        </form>
      </div>
    </div>

    <div id="survey">
      <div id="topblock">
        <form action="/home/register" method="POST">
          <h2>
            Welcome to Dashyboard! A minimalistic and elegant way to leave
            messages for your friends, family, and colleagues. Click the start
            button below to get started!
          </h2>
          {% csrf_token %}
          <button type="submit" class="create">Register</button>
        </form>
      </div>
    </div>

    <div class="unit">
      <form>
        <h2>Manage Users</h2>
        <ul>
          <li>Full admin tools for moderators ~</li>
          <li>Add, edit, or delete members at will ~</li>
          <li>Send server wide alert messages ~</li>
          <li>and more ~</li>
        </ul>
      </form>

      <form>
        <h2>Modern Messaging System</h2>
        <ul>
          <li>Leave fun messages for others ~</li>
          <li>Messages don't expire until read ~</li>
          <li>Comment on other messages ~</li>
          <li>Post on your own wall for others to see ~</li>
        </ul>
        {% csrf_token %}
      </form>

      <form>
        <h2>Engaging User Platform</h2>
        <ul>
          <li>Take advantage of powerful profile tools ~</li>
          <li>Customize your profile and wall ~</li>
          <li>Control what you and others see ~</li>
          <li>Myriad of UX widgets and attachments ~</li>
        </ul>
        {% csrf_token %}
      </form>
    </div>
  </body>
</html>
