<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration successful!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard_app/css/success.css' %}">
    <!-- CSS RESET -->
    <link rel="stylesheet" href="{% static 'dashboard_app/css/normalize.css' %}">
</head>

<body>
    <div class="container" style="padding-top:30px">
        <div class="top_bar">
            <h1>DashyBoard</h1>
            <h3>Welcome, {{datakey.first_name}}</h3>
            <form action="/home/logoff" method="POST">
                {% csrf_token %}
                <button>Log off</button>
            </form>
        </div>

        
        <div class="container, outline">
            <h1>Success! Welcome, {{datakey.first_name}}!</h1>
            <h3>You have been successfully {{request.session.message}}!</h3>
            <h5>Please go back to the home page and login to your wall!</h5>
            <button onclick="window.location.href='/home/dashboard'">To Dashboard</button>
        </div>
</body>

</html>