#result {
    margin: 1%;
}
body {
    background-color: rgb(34, 37, 41);
}
button {
    background-color: rgb(34, 37, 41);
    border: 1px solid black;
    color: white;
    margin: 0 0 0 45%;
    height: 50px;
    width: 150px;
}
.reducewidth {
    width: 200px;
}
.wide {
    width: 500px;
}
.action {
    width: 150px;
    height: 30px;
    display: inline-block;
    margin: 0 0 0 0;
}
.fullname {
    margin: 0 50% 0 0;
    height: 30px;
    border: none;
    text-decoration: underline;
    color: aquamarine;
}