<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration successful!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'review_app/css/success.css' %}">
</head>
<body>
    <div class="container">
        <h1>Success! Welcome, {{datakey.first_name}}!</h1>
        <h3>You have been successfully {{request.session.message}}!</h3>
        <h5>Please go back to the home page and login to your dashboard!</h5>
        <button onclick="window.location.href='/'">Go Back</button>
    </div>
</body>
</html>