* {
    /* outline: 1px solid pink; */
}

.topbar {
    width: 100%;
    border-bottom: 5px solid black;
    margin-bottom: -100px;
    background-color: blanchedalmond;
}
.topbar h1 {
    display: inline-block;
}
.topbar h2 {
    margin: 0 0 0 60%;
    padding: -50px;
    display: inline-block;
}
.topbar button {
    width: 100px;
    height: 30px;
    margin: 0 0 -100px 150px;
    text-decoration: underline;
    color: darkblue;
    background-color: transparent;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
}

.wall {
    margin: 7% 0 0 0;
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: aliceblue;
}
.wall .received_messages {
    display: inline-block;
    width: 33%;
    height: 600px;
}
.wall .received_messages th {
    font-size: 20px;
    text-decoration: underline;
}
.wall .received_messages td {
    margin: 10%;
    font-size: 20px;
    padding: 10px;
}
.wall .send_messages {
    display: inline-block;
    width: 40%;
    height: 600px;
    margin: -30% 0 0 40%;
    padding: 0 10% 10% 10%;
    font-size: 20px;
}
.wall .send_messages h1 {
    font-size: 20px;
    text-decoration: underline;
    height: auto;
}
.wall .send_messages p {
    text-decoration: underline;
    width: 50%;
    height: auto;
}
.wall .send_messages .message {
    display: inline-block;
    height: 50px;
    width: 65%;
    margin: 10% 1% 0 0;
}
.wall .send_messages .label {
    display: inline-block;
    font-size: 20px;
    margin: -5% 1% 0 0;
    height: auto;
    width: 60px;
}
.wall .send_messages .submit {
    display: inline-block;
    height: 50px;
    width: 100px;
}
