<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Dojo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
    h1 {
        margin: 0 0 0 40%;
    }
    img {
        width: 100%;
        height: 100%;
    }
    </style>
</head>
<body>
    <h1>Welcome to the Dojo</h1>
    <img src="https://cdna.artstation.com/p/assets/images/images/006/376/882/large/marco-petracca-highresscreenshot00004.jpg?1498125920" alt="dojo image">
</body>
</html>