<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loggedin.css') }}">
    <title>Logged In!</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
            <h1>Your Simple Wall</h1>
            <h2>Welcome {{name}}! </h2>
            <button onclick="window.location.href='/'">Logout</button>
        </div>
        <div class="wall">
            <div class="received_messages">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{count}} Message(s) for you {{name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in all_messages %}
                        <tr>
                            <td>{{key['first_name']}} said on {{key['created_on']}}</td>
                            <td>{{key['message']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="send_messages">
                <h1>Send a message</h1>
                <p>You have sent a total of {{sent}} messages so far</p>
                {% for key in all_users %}
                <form action="/sendmessage" class="form" method="POST">
                    <label for="message" class="label">{{key['first_name']}}</label>
                    <textarea name="message" class="message" cols="30" rows="10"></textarea>
                    <input type="hidden" name="recipient_id" value="{{key['user_id']}}">
                    <input type="submit" value="Send" class="submit">
                </form>
                {% endfor %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="margin: 0 0 0 33%;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</body>

</html>