li {
    color: red;
    text-align: center;
}

h1 {
    display: block;
    width: 300px;
}


.submit {
    height: 25px;
    width: 125px;
    margin: 10px 10px 10px 55px;
    display:inline-block;
    margin: 1% 0 0 90%;
}

.flashes {
    display: inline-block;
    margin: 0 0 0 -15px;
}

