body {
    background: rgb(34, 37, 41);
}

* {
    padding: 1%;
}

.top_bar {
    display: block;
    width: 120%;
    height: auto;
    border-bottom: 1px solid black;
    margin: -7% 0 0% -10%;
    display: block;
    background-color: white;
    text-align: center;
    border-radius: 10px
}

.top_bar h1 {
    display: inline-block;
    width: auto;
    margin: 0 0 0 3%;
}

.top_bar h3 {
    display: inline-block;
    margin: 0 0 0 54%;
    width: auto;
    font-size: 20px;
}

.top_bar form {
    display: inline-block;
    width: 200px;
}

.top_bar button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220, 220, 220);
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    width: 100px;
    margin: 0 0 0 10%;
}

.topbar .goback {
    margin: 0 0 0 -3%;
    display: inline-block;
}

.topbar .goback button {
    width: auto;
}

.topbar button:hover {
    background: #8BC34A;
    color: #ffffff;
}

#result {
    margin: 1%;
}

body {
    background-color: rgb(34, 37, 41);
}

tbody button {
    width: auto;
}

button {
    display: inline-block;
    background-color: rgb(34, 37, 41);
    border: 1px solid black;
    color: white;
    margin: 0 0 -3% 1%;
    height: auto;
    width: 10%;
    font-weight: bold;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    vertical-align: bottom;
}

.reducewidth {
    width: 200px;
}

.wide {
    width: 500px;
}

.action {
    width: 150px;
    height: auto;
    display: inline-block;
    margin: 0 0 0 0;
}

.fullname {
    margin: 0 50% 0 0;
    height: auto;
    border: none;
    text-decoration: underline;
    color: aquamarine;
}